.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.role span{
    font-size: 1.7rem;
    font-weight: 600;
}

.role p{
    font-size: 1.3rem;
    margin-top: 10px;
    width: 95%;
}

.hero-container::after, .hero-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after{
    top: -3rem;
    left: -5rem;
}

.hero-container::before{
    bottom: 2rem;
    right: 0rem;
}

.contact-details{
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
}

.resume {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

.resume:hover{
    color: #a453fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.contact-btn{
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    padding: 0.6rem 2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.3 ease;
}

.contact-btn:hover{
    color: #a453fe;
    background: #000;
    outline: 1.5px solid #a993fe;
}

.hero-img{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.hero-img > div{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img > div > img{
    width: 28rem;
    border-radius: 2rem;
    height: 32rem;
    transition: all 0.3s ease;
}

.tech-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1.5px solid #6852ba;
    border-radius: 0.65rem;
}

.tech-icon img{
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.hero-img > div > img:hover, .tech-icon img:hover{
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
    .role span{
        font-size: 1.5rem;
    }
    
    .role p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .hero-img > div > img{
        width: 20rem;
    }

    .tech-icon{
        width: 4rem;
        height: 4rem;
    }

    .tech-icon img{
        width: 2.5rem;
    }
}

@media (max-width: 768px) {
    .hero-container{
        flex-direction: column;
    }

    .hero-img{
        margin: 2rem 0 2rem 0;
    }

    .hero-container h2{
        margin-top: 3rem;
    }

    .role span, .role p {
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before{
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after{
        top: 0rem;
        left: 0rem;
    }

    .hero-container::before{
        bottom: 2rem;
        right: 0rem;
    }
}

@media (max-width: 600px) {
    .role span{
        font-size: 1.3rem;
    }

    .role p {
        font-size: 0.8rem;
        line-height: 1.3rem;
    }

    .hero-img{
        gap: 1rem;
    }

    .hero-img > div{
        gap: 1rem;
    }

    .hero-img > div > img {
        width: 16rem;
        height: 20rem;
    }

    .tech-icon{
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img{
        width: 2rem;
    }   
}